<head>
    <title>The Shchedrinski Family</Title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


</head>

<div class="nav">
    <ul>
        <li class="Vadim"><a href="/Vadim">Vadim</a></li>
        <li class="German"><a href="/German">German</a></li>
        <li class="Olga"><a href="/Olga">Olga</a></li>
        <li class="Juja"><a href="/Juja">Juja</a></li>
    </ul>
</div>



<h1><%= myName %></h1>

