<!DOCTYPE html>
<html>

<%- include partials/header.ejs %>
<body>

<p> I am <%= myName %> , I was the man of the family however in 2007 that job was passed on to Vadim    </p>
<img src="images/german.jpg" title="German Light Craft"/>
</body>
</html>
