<!DOCTYPE html>
<html>

<%- include partials/header.ejs %>
<body>
<p> I am <%= myName %> , my job is to entertain the humans, and in return I demand meat and snuggles</p>
<img src="images/juja.jpg" title="Circus Dog begging for food"/>
</body>
</html>
