<!DOCTYPE html>
<html>

<%- include partials/header.ejs %>
<body>

<p> I am <%= myName %>, Despite what everyone may think, I actually run this household</p>
<img src="images/olga.jpg" title="Olga and my Sibling"/>
</body>
</html>
