<!DOCTYPE html>
<html>

<%- include partials/header.ejs %>
<body>

<p> I am <%= myName %>  my parents say I was switched at the nursery because I am nothing like them...</p>
<img src="images/vadim.jpg" title="Vadim Georgian College Photography"/>
</body>
</html>
